---
title: 'About'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/svgs/deadlift.jpg">
            <source media="(min-width: 601px)" srcset="/assets/svgs/deadlift.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/svgs/deadlift.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

   <!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-250">
    <div class="cs-container">
        <!-- Left Image Section -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/svgs/profile.jpg">
            <source media="(min-width: 601px)" srcset="/assets/svgs/profile.jpg">
            <img loading="lazy" decoding="async" src="/assets/svgs/profile.jpg" alt="hiker" width="522" height="522" aria-hidden="true">
        </picture>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h2 class="cs-title">About Austin</h2>
            <p class="cs-text">
                Hello! I am Austin, a dedicated husband, father to two beautiful daughters, avid climber, coffee drinker, and a certified personal trainer.
My journey into fitness started during my childhood, where personal discomfort spurred a commitment to uncovering a healthier way of living. This dedication has fueled my life's purpose – assisting others in realizing their full potential.
Over time, my training philosophy has evolved from heavy lifting to encompass a spectrum of fluid and functional movements, ensuring a comprehensive and tailored approach.
In 2020, I attained certification from the National Academy of Sports Medicine (NASM), fortifying my commitment to the growth of others and contributing to the community.  I know how confusing and hard it can be to start to reach your goals. 
I am here to provide a supportive platform for your fitness journey. Let us embark on a path that aligns with your goals, employing strategic methodologies for sustainable and transformative results.

            </p>
            
        </div>
    </div>
</section>
                                

    

{% endblock %}