---
title: 'GH Fit'
description: 'Meta description for the page'
preloadImg: '/assets/svgs/deadlift.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-998">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">A Fitness Blog</span>
            <!--Logo-->
            <picture class="cs-logo">
                <source media="(max-width: 600px)" srcset="/assets/svgs/ghmidlogo.svg">
                <source media="(min-width: 601px)" srcset="/assets/svgs/ghmidlogo.svg">
                <img decoding="async" src="/assets/svgs/ghmidlogo.svg" alt=Gh Fitness Logo" width="614" height="166">
                </picture>
                <p class="cs-text">
                Sustainable fitness blog focused on real humans in the real world.
                </p>
                <a href="" class="cs-button-solid">Blog</a>
        </div>
    </div>
    <!--Background Image-->
    <!--Image is also set as background image in CSS at 1400px for parallax effect-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/svgs/deadlift.jpg">
        <source media="(min-width: 601px)" srcset="/assets/svgs/deadlift.jpg">
        <img decoding="async" src="/assets/svgs/deadlift.jpg" alt="logo" width="1920" height="1000">
        </picture>
</section>
                                

    

    
{% endblock %}